In [1]:
import pandas as pd
import numpy as np
from OWCK import OWCK
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('wishful_thinking.csv')

In [3]:
df.head()

,Unnamed: 0,event,begin,max,end,obs,q,type,loc,freq,...,date,yes_no,duration,del_begin_max,del_end_max,closer_begin_end,flare_event,last_event_time,t_since_last_event,datetime
0,0,2310,00:07:00,1900-01-01 00:13:00,1900-01-01 00:20:00,GO8,5,1,1-8A,C1.2,...,2001-01-01 00:00:00,1.0,13,6,7.0,0.0,0,2001-01-01 00:07:00,0 days 00:00:00.000000000,978336420.0
1,1,2470,00:46:00,NaN,1900-01-01 00:46:00,CUL,C,2,40-100,III/1,...,2001-01-01 00:00:00,1.0,0,0,0.0,0.0,0,2001-01-01 00:46:00,0 days 00:00:00.000000000,978338760.0
2,2,2320,01:18:00,1900-01-01 01:21:00,1900-01-01 01:27:00,GO8,5,1,1-8A,C1.0,...,2001-01-01 00:00:00,1.0,9,3,6.0,0.0,0,2001-01-01 01:18:00,0 days 00:00:00.000000000,978340680.0
3,3,2350,03:22:00,1900-01-01 03:34:00,1900-01-01 06:00:00,LEA,G,3,245,68,...,2001-01-01 00:00:00,1.0,158,12,146.0,0.0,0,2001-01-01 03:22:00,0 days 00:00:00.000000000,978348120.0
4,4,2330,03:39:00,1900-01-01 03:39:00,1900-01-01 03:39:00,PAL,G,16,245,52,...,2001-01-01 00:00:00,1.0,0,0,0.0,0.0,0,2001-01-01 03:39:00,0 days 00:00:00.000000000,978349140.0

In [4]:
X = df[['yes_no', 'duration', 'type', 'datetime']].values

In [5]:
y = df['flare_event'].values

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [7]:
?OWCK()

In [ ]:
owck_model = OWCK(cluster_method='random', n_cluster=2)
owck_model.fit(X_train,y_train)

In [ ]:
pred_y, var_y = owck_model.predict(x_test)