# Data Cleaning for NOAA Solar and Geographical Event Reports
** January 2000 to December 2016 **  

** Aubrey Browne **   
** July 27, 2017 **

In [1]:
import numpy as np
import pandas as pd
from glob import glob
import matplotlib.pyplot as plt
import re
from datetime import datetime, timedelta
%matplotlib inline

**I did have to remove all the '+' from the data before importing, which I did from the command line using:**  
perl -pi -e 's![+]!!g' *.txt

In [2]:
# collecting all the CSVs
all_files = glob("/Users/aubreybrowne/h-alpha-time-series/full_data/*.txt")

In [4]:
## Remove top 12 lines of each csv since they are just explinations of the data. 
# for file in file_list:
#     with open(file, 'r') as fin:
#         data= fin.read().splitlines(True)
#     with open(file, 'w') as fout:
#         fout.writelines(data[12:])

In [5]:
# Putting data into a pandas dataframe
df = pd.DataFrame()
colms = ["event", 'begin', 'max', 'end', 'obs', 'q', 'type', 'loc','freq', 'particulars', 'reg_num']
for file in all_files:
    df_new = pd.read_csv(file, names=colms, delim_whitespace=True)
    df_new['date'] = int("".join(re.findall(r'\d+', file)))
    df = df.append(df_new)

In [6]:
df.head()

,event,begin,max,end,obs,q,type,loc,freq,particulars,reg_num,date
0,2310,7,0013,20,GO8,5,XRA,1-8A,C1.2,8.1E-04,NaN,20010101
1,2470,46,////,46,CUL,C,RSP,40-100,III/1,NaN,NaN,20010101
2,2320,118,0121,127,GO8,5,XRA,1-8A,C1.0,4.5E-04,NaN,20010101
3,2350,322,0334,600,LEA,G,RNS,245,68,NaN,NaN,20010101
4,2330,339,0339,339,PAL,G,RBR,245,52,NaN,NaN,20010101

In [7]:
# turning date into datetime
format = '%Y%m%d'
df.date = df['date'].apply(lambda x: datetime.strptime(str(x), format))

In [9]:
# removed all none digits from begin, end, and max columns so that they can be turned into a datetime
df['begin'].replace(regex=True,inplace=True,to_replace=r'\b\D{1}',value=r'')
df['max'].replace(regex=True,inplace=True,to_replace=r'\b\D{1}',value=r'')
df['end'].replace(regex=True,inplace=True,to_replace=r'\b\D{1}',value=r'')

In [10]:
df.head()

,event,begin,max,end,obs,q,type,loc,freq,particulars,reg_num,date
0,2310,7,0013,20,GO8,5,XRA,1-8A,C1.2,8.1E-04,NaN,2001-01-01
1,2470,46,////,46,CUL,C,RSP,40-100,III/1,NaN,NaN,2001-01-01
2,2320,118,0121,127,GO8,5,XRA,1-8A,C1.0,4.5E-04,NaN,2001-01-01
3,2350,322,0334,600,LEA,G,RNS,245,68,NaN,NaN,2001-01-01
4,2330,339,0339,339,PAL,G,RBR,245,52,NaN,NaN,2001-01-01

In [11]:
# fixing some input errors and padding the times with zeros
df['begin'] = df['begin'].apply(lambda x: str(x).zfill(4) if type(x) == int else x)

In [13]:
df['end'] = df['end'].apply(lambda x: str(x).zfill(4) if type(x) == int else x)

In [14]:
df['max'] = df['max'].apply(lambda x: str(x).zfill(4) if type(x) == int else x)

In [15]:
# Adding new column for events
df['yes_no'] = df['event'].apply(lambda x: 1 if type(x) == int else 0)

In [16]:
# Creating a new category in type column for No Event 
df['type'] = df['type'].apply(lambda x: x if type(x) == str else 'NEV')

In [17]:
df.head()

,event,begin,max,end,obs,q,type,loc,freq,particulars,reg_num,date,yes_no
0,2310,0007,0013,0020,GO8,5,XRA,1-8A,C1.2,8.1E-04,NaN,2001-01-01,1
1,2470,0046,////,0046,CUL,C,RSP,40-100,III/1,NaN,NaN,2001-01-01,1
2,2320,0118,0121,0127,GO8,5,XRA,1-8A,C1.0,4.5E-04,NaN,2001-01-01,1
3,2350,0322,0334,0600,LEA,G,RNS,245,68,NaN,NaN,2001-01-01,1
4,2330,0339,0339,0339,PAL,G,RBR,245,52,NaN,NaN,2001-01-01,1

In [18]:
df.type.unique()

array(['XRA', 'RSP', 'RNS', 'RBR', 'FLA', '3000', '204', 'EPL', 'DSF',
       '93000', 'LPS', 'SPY', 'BSL', 'NEV', 'PRO', 'XFL', '030-064', 'DSD',
       'CME', '////', 'rw', 'BSD'], dtype=object)

In [37]:
# applying datetime columns to df
time = '%H%M'
df['begin'] = df['begin'].apply(lambda x: None if x == "VENT" else x)
df['begin'] = df['begin'].apply(lambda x: datetime.strptime(x, time) if type(x) == str else x)
df['max'] = df['max'].apply(lambda x: None if x == "////" else x)
df['max'] = df['max'].apply(lambda x: None if x =='EPORTS' else x)
df['max'] = df['max'].apply(lambda x: datetime.strptime(x,time) if type(x) == str else x)

In [38]:
df.head()

,event,begin,max,end,obs,q,type,loc,freq,particulars,reg_num,date,yes_no
0,2310,1900-01-01 00:07:00,1900-01-01 00:13:00,0020,GO8,5,XRA,1-8A,C1.2,8.1E-04,NaN,2001-01-01,1
1,2470,1900-01-01 00:46:00,NaT,0046,CUL,C,RSP,40-100,III/1,NaN,NaN,2001-01-01,1
2,2320,1900-01-01 01:18:00,1900-01-01 01:21:00,0127,GO8,5,XRA,1-8A,C1.0,4.5E-04,NaN,2001-01-01,1
3,2350,1900-01-01 03:22:00,1900-01-01 03:34:00,0600,LEA,G,RNS,245,68,NaN,NaN,2001-01-01,1
4,2330,1900-01-01 03:39:00,1900-01-01 03:39:00,0339,PAL,G,RBR,245,52,NaN,NaN,2001-01-01,1

In [39]:
# finding errors with entries for the end column 
values = []
for x in df.end:
    if len(str(x)) > 4:
        values.append(x)
values

['83534502', '085634502', '091034502', '80734502', '084034502', '135572508']

In [40]:
# removing those columns since there were only six of them
df = df[~df.end.isin(values)]

In [41]:
# Finally, converting to datetime
df['end'] = df['end'].apply(lambda x: datetime.strptime(x, time) if type(x) == str else x)

In [42]:
# Creating the duration column by finding the difference between the end time and start time
df['duration'] = df['end'] - df['begin']

In [43]:
# Creating the difference between max and begin column
df['del_begin_max'] = df['max'] - df['begin']

In [44]:
# Creating the difference between max and end column 
df['del_end_max']  = df['end'] - df['max']

In [45]:
# Creating column to show if max of the event is closer to the begin time or end time 
df['closer_begin_end'] = df['del_begin_max'] > df['del_end_max']

In [46]:
# Change column from True/False to 1/0
df['closer_begin_end'] = df['closer_begin_end'].apply(lambda x: 1 if x == True else 0)

In [47]:
df.head()

,event,begin,max,end,obs,q,type,loc,freq,particulars,reg_num,date,yes_no,duration,del_begin_max,del_end_max,closer_begin_end
0,2310,1900-01-01 00:07:00,1900-01-01 00:13:00,1900-01-01 00:20:00,GO8,5,XRA,1-8A,C1.2,8.1E-04,NaN,2001-01-01,1,00:13:00,00:06:00,00:07:00,0
1,2470,1900-01-01 00:46:00,NaT,1900-01-01 00:46:00,CUL,C,RSP,40-100,III/1,NaN,NaN,2001-01-01,1,00:00:00,NaT,NaT,0
2,2320,1900-01-01 01:18:00,1900-01-01 01:21:00,1900-01-01 01:27:00,GO8,5,XRA,1-8A,C1.0,4.5E-04,NaN,2001-01-01,1,00:09:00,00:03:00,00:06:00,0
3,2350,1900-01-01 03:22:00,1900-01-01 03:34:00,1900-01-01 06:00:00,LEA,G,RNS,245,68,NaN,NaN,2001-01-01,1,02:38:00,00:12:00,02:26:00,0
4,2330,1900-01-01 03:39:00,1900-01-01 03:39:00,1900-01-01 03:39:00,PAL,G,RBR,245,52,NaN,NaN,2001-01-01,1,00:00:00,00:00:00,00:00:00,0

In [48]:
df.type.unique()

array(['XRA', 'RSP', 'RNS', 'RBR', 'FLA', '3000', '204', 'EPL', 'DSF',
       '93000', 'LPS', 'SPY', 'BSL', 'NEV', 'PRO', 'XFL', 'DSD', 'CME',
       '////', 'rw', 'BSD'], dtype=object)

In [49]:
# Fixing input errors and shifting select data one column
df[df.type == '3000'] = df.loc[df.type == '3000',['obs', 'q', 'type', 'loc', 'freq']].shift(1, axis=1)

In [50]:
# Fixing input errors and shifting select data one column 
df[df.type == '204'] = df.loc[df.type == '204',['obs', 'q', 'type', 'loc', 'freq']].shift(1, axis=1)

In [51]:
# Fixing input errors and shifting select data one column 
df[df.type == '93000'] = df.loc[df.type == '93000',['obs', 'q', 'type', 'loc', 'freq']].shift(1, axis=1)

In [52]:
df[df.type == 'rw']

,event,begin,max,end,obs,q,type,loc,freq,particulars,reg_num,date,yes_no,duration,del_begin_max,del_end_max,closer_begin_end
0,1670,1900-01-01 00:08:00,1900-01-01 00:09:00,1900-01-01 00:11:00,LEA,3,rw,////,SF,DSD,2280.0,2015-02-06,1.0,00:03:00,00:01:00,00:02:00,0.0

In [53]:
df.type.unique()

array(['XRA', 'RSP', 'RNS', 'RBR', 'FLA', 'EPL', 'DSF', 'LPS', 'SPY',
       'BSL', 'NEV', 'PRO', 'XFL', 'DSD', 'CME', '////', 'rw', 'BSD'], dtype=object)

In [54]:
# Removing data where type is 'rw' since the data was bad
df = df[~df.type.isin(['rw'])]

In [55]:
# Fixing input errors and shifting select data one column 
df[df.type == '////'] = df.loc[df.type == '////', ['q', 'type', 'loc', 'freq']].shift(1, axis = 1)

In [56]:
# LOOKS GOOD!
df.type.unique()

array(['XRA', 'RSP', 'RNS', 'RBR', 'FLA', 'EPL', 'DSF', 'LPS', 'SPY',
       'BSL', 'NEV', 'PRO', 'XFL', 'DSD', 'CME', 'BSD'], dtype=object)

In [58]:
# Creating dictionary for solar event type to numbers 
type_dict = {'XRA': 1, 
         'RSP': 2,
         'RNS': 3,
         'FLA': 4, 
         'EPL': 5, 
         'DSF': 6, 
         'LPS': 7, 
         'SPY': 8, 
         'BSL': 9,
         'NEV': 10, 
         'PRO': 11,
         'XFL': 12,
         'DSD': 13,
         'CME': 14,
         'BSD': 15,
         'RBR': 16
        }

In [59]:
# Replacing strings with numbers representation from above dictionary
df["type"].replace(type_dict, inplace=True)

In [60]:
# Changing duration to only minutes 
df.duration = df.duration.apply(lambda x: x.seconds/60)

In [61]:
# Filling in nulls with a zero
df.fillna(0)

,event,begin,max,end,obs,q,type,loc,freq,particulars,reg_num,date,yes_no,duration,del_begin_max,del_end_max,closer_begin_end
0,2310,1900-01-01 00:07:00,1900-01-01 00:13:00,1900-01-01 00:20:00,GO8,5,1,1-8A,C1.2,8.1E-04,0.0,2001-01-01,1.0,13.0,00:06:00,00:07:00,0.0
1,2470,1900-01-01 00:46:00,1970-01-01 00:00:00,1900-01-01 00:46:00,CUL,C,2,40-100,III/1,0,0.0,2001-01-01,1.0,0.0,00:00:00,00:00:00,0.0
2,2320,1900-01-01 01:18:00,1900-01-01 01:21:00,1900-01-01 01:27:00,GO8,5,1,1-8A,C1.0,4.5E-04,0.0,2001-01-01,1.0,9.0,00:03:00,00:06:00,0.0
3,2350,1900-01-01 03:22:00,1900-01-01 03:34:00,1900-01-01 06:00:00,LEA,G,3,245,68,0,0.0,2001-01-01,1.0,158.0,00:12:00,02:26:00,0.0
4,2330,1900-01-01 03:39:00,1900-01-01 03:39:00,1900-01-01 03:39:00,PAL,G,16,245,52,0,0.0,2001-01-01,1.0,0.0,00:00:00,00:00:00,0.0
5,2340,1900-01-01 03:47:00,1900-01-01 03:49:00,1900-01-01 03:52:00,LEA,3,4,N25E45,SF,ERU,9292.0,2001-01-01,1.0,5.0,00:02:00,00:03:00,0.0
6,2480,1900-01-01 04:52:00,1970-01-01 00:00:00,1900-01-01 04:53:00,CUL,C,2,23-180,III/1,0,0.0,2001-01-01,1.0,1.0,00:00:00,00:00:00,0.0
7,2360,1900-01-01 07:31:00,1900-01-01 07:35:00,1900-01-01 07:39:00,GO8,5,1,1-8A,C1.2,4.3E-04,9289.0,2001-01-01,1.0,8.0,00:04:00,00:04:00,0.0
8,2360,1900-01-01 07:35:00,1900-01-01 07:35:00,1900-01-01 07:38:00,LEA,3,4,S09E13,SF,9289,0.0,2001-01-01,1.0,3.0,00:00:00,00:03:00,0.0
9,2370,1900-01-01 09:33:00,1900-01-01 09:51:00,1900-01-01 10:09:00,GO8,5,1,1-8A,C1.0,2.1E-03,9283.0,2001-01-01,1.0,36.0,00:18:00,00:18:00,0.0
10,2370,1900-01-01 09:46:00,1900-01-01 09:54:00,1900-01-01 10:15:00,LEA,2,4,S11W46,SF,9283,0.0,2001-01-01,1.0,29.0,00:08:00,00:21:00,0.0
11,2380,1900-01-01 12:52:00,1900-01-01 12:57:00,1900-01-01 13:01:00,GO8,5,1,1-8A,C1.0,4.9E-04,0.0,2001-01-01,1.0,9.0,00:05:00,00:04:00,1.0
12,2740,1900-01-01 16:12:00,1900-01-01 16:12:00,1900-01-01 16:13:00,SAG,G,16,245,75,0,0.0,2001-01-01,1.0,1.0,00:00:00,00:01:00,0.0
13,2400,1900-01-01 16:28:00,1900-01-01 16:45:00,1900-01-01 16:52:00,GO8,5,1,1-8A,C1.4,1.5E-03,9283.0,2001-01-01,1.0,24.0,00:17:00,00:07:00,1.0
14,2400,1900-01-01 16:41:00,1900-01-01 16:43:00,1900-01-01 16:59:00,RAM,3,4,S12W52,SF,ERU,9283.0,2001-01-01,1.0,18.0,00:02:00,00:16:00,0.0
15,2410,1900-01-01 16:53:00,1900-01-01 17:02:00,1900-01-01 17:07:00,GO8,5,1,1-8A,C1.7,1.3E-03,0.0,2001-01-01,1.0,14.0,00:09:00,00:05:00,1.0
16,2420,1900-01-01 19:36:00,1970-01-01 00:00:00,1900-01-01 19:36:00,HOL,C,2,025-085,III/1,0,0.0,2001-01-01,1.0,0.0,00:00:00,00:00:00,0.0
17,2430,1900-01-01 19:46:00,1970-01-01 00:00:00,1900-01-01 19:51:00,HOL,C,2,025-083,III/1,0,0.0,2001-01-01,1.0,5.0,00:00:00,00:00:00,0.0
18,2750,1900-01-01 19:54:00,1900-01-01 19:54:00,1900-01-01 19:55:00,SAG,G,16,245,120,0,0.0,2001-01-01,1.0,1.0,00:00:00,00:01:00,0.0
19,2440,1900-01-01 19:57:00,1970-01-01 00:00:00,1900-01-01 19:57:00,HOL,C,2,025-085,III/1,0,0.0,2001-01-01,1.0,0.0,00:00:00,00:00:00,0.0
20,2760,1900-01-01 20:03:00,1900-01-01 20:04:00,1900-01-01 20:05:00,SAG,G,16,245,64,0,0.0,2001-01-01,1.0,2.0,00:01:00,00:01:00,0.0
21,2490,1900-01-01 20:20:00,1970-01-01 00:00:00,1900-01-01 20:31:00,CUL,C,2,18-180,III/2,0,0.0,2001-01-01,1.0,11.0,00:00:00,00:00:00,0.0
22,2500,1900-01-01 20:41:00,1970-01-01 00:00:00,1900-01-01 20:41:00,CUL,C,2,20-90,III/1,0,0.0,2001-01-01,1.0,0.0,00:00:00,00:00:00,0.0
23,2510,1900-01-01 21:00:00,1970-01-01 00:00:00,1900-01-01 21:03:00,CUL,C,2,20-180,III/1,0,0.0,2001-01-01,1.0,3.0,00:00:00,00:00:00,0.0
24,2520,1900-01-01 21:28:00,1970-01-01 00:00:00,1900-01-01 21:28:00,CUL,C,2,23-100,III/1,0,0.0,2001-01-01,1.0,0.0,00:00:00,00:00:00,0.0
25,2450,1900-01-01 22:13:00,1970-01-01 00:00:00,1900-01-01 22:14:00,CUL,C,2,20-160,III/1,0,0.0,2001-01-01,1.0,1.0,00:00:00,00:00:00,0.0
26,2460,1900-01-01 22:25:00,1970-01-01 00:00:00,1900-01-01 22:31:00,CUL,C,2,18-180,III/2,0,0.0,2001-01-01,1.0,6.0,00:00:00,00:00:00,0.0
27,2530,1900-01-01 23:28:00,1970-01-01 00:00:00,1900-01-01 23:28:00,CUL,C,2,50-160,III/1,0,0.0,2001-01-01,1.0,0.0,00:00:00,00:00:00,0.0
28,2540,1900-01-01 23:40:00,1970-01-01 00:00:00,1900-01-01 23:40:00,CUL,C,2,35-90,III/1,0,0.0,2001-01-01,1.0,0.0,00:00:00,00:00:00,0.0
0,2600,1900-01-01 00:22:00,1970-01-01 00:00:00,1900-01-01 00:22:00,CUL,C,2,20-120,III/2,0,0.0,2001-01-02,1.0,0.0,00:00:00,00:00:00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,4380,1900-01-01 09:38:00,1900-01-01 09:43:00,1900-01-01 09:53:00,G15,5,1,1-8A,B2.1,0.00014,2617.0,2016-12-16,1.0,15.0,00:05:00,00:10:00,0.0
0,4400,1900-01-01 10:28:00,1970-01-01 00:00:00,1900-01-01 22:58:00,LEA,3,6,N31W58,8,0,0.0,2016-12-17,1.0,750.0,00:00:00,00:00:00,0.0
1,4390,1900-01-01 15:55:00,1970-01-01 00:00:00,1900-01-01 15:59:00,SAG,C,2,025-072,III/1,0,0.0,2016-12-17,1.0,4.0,00:00:00,00:00:00,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-18,0.0,0.0,00:00:00,00:00:00,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-19,0.0,0.0,00:00:00,00:00:00,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-20,0.0,0.0,00:00:00,00:00:00,0.0
0,4410,1900-01-01 14:12:00,1900-01-01 14:19:00,1900-01-01 14:26:00,G15,5,1,1-8A,B2.7,0.00015,2620.0,2016-12-21,1.0,14.0,00:07:00,00:07:00,0.0
1,4420,1900-01-01 17:47:00,1970-01-01 00:00:00,1900-01-01 17:49:00,SAG,C,2,075-180,III/1,0,0.0,2016-12-21,1.0,2.0,00:00:00,00:00:00,0.0
2,4420,1900-01-01 17:48:00,1900-01-01 17:48:00,1900-01-01 17:48:00,SAG,G,16,245,130,0,0.0,2016-12-21,1.0,0.0,00:00:00,00:00:00,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-22,0.0,0.0,00:00:00,00:00:00,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-23,0.0,0.0,00:00:00,00:00:00,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-24,0.0,0.0,00:00:00,00:00:00,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-25,0.0,0.0,00:00:00,00:00:00,0.0
0,4470,1900-01-01 10:17:00,1970-01-01 00:00:00,1900-01-01 22:03:00,LEA,3,6,S10W03,14,0,0.0,2016-12-26,1.0,706.0,00:00:00,00:00:00,0.0
1,4430,1900-01-01 18:47:00,1900-01-01 18:52:00,1900-01-01 18:58:00,G15,5,1,1-8A,B3.0,0.00014,2621.0,2016-12-26,1.0,11.0,00:05:00,00:06:00,0.0
2,4440,1900-01-01 20:56:00,1900-01-01 21:01:00,1900-01-01 21:05:00,G15,5,1,1-8A,B8.3,0.00023,2621.0,2016-12-26,1.0,9.0,00:05:00,00:04:00,1.0
3,4450,1900-01-01 21:58:00,1900-01-01 22:02:00,1900-01-01 22:27:00,G15,5,1,1-8A,B2.9,0.0004,2621.0,2016-12-26,1.0,29.0,00:04:00,00:25:00,0.0
4,4460,1900-01-01 23:25:00,1900-01-01 23:29:00,1900-01-01 23:32:00,G15,5,1,1-8A,B3.3,8.4e-05,2621.0,2016-12-26,1.0,7.0,00:04:00,00:03:00,1.0
0,4480,1900-01-01 05:52:00,1970-01-01 00:00:00,1900-01-01 05:52:00,LEA,C,2,025-115,III/1,0,0.0,2016-12-27,1.0,0.0,00:00:00,00:00:00,0.0
1,4490,1900-01-01 08:20:00,1900-01-01 08:46:00,1900-01-01 08:58:00,G15,5,1,1-8A,B3.1,5.3E-04,2621.0,2016-12-27,1.0,38.0,00:26:00,00:12:00,1.0
2,4490,1900-01-01 08:23:00,1900-01-01 08:39:00,1900-01-01 08:40:00,SVI,3,4,N09W50,SF,ERU,2621.0,2016-12-27,1.0,17.0,00:16:00,00:01:00,1.0
3,4500,1900-01-01 10:04:00,1900-01-01 10:12:00,1900-01-01 10:18:00,G15,5,1,1-8A,B1.6,1.0E-04,2621.0,2016-12-27,1.0,14.0,00:08:00,00:06:00,1.0
4,4500,1900-01-01 10:09:00,1900-01-01 10:10:00,1900-01-01 10:14:00,SVI,3,4,N09W52,SF,ERU,2621.0,2016-12-27,1.0,5.0,00:01:00,00:04:00,0.0
5,4510,1900-01-01 12:33:00,1900-01-01 12:38:00,1900-01-01 12:42:00,G15,5,1,1-8A,B1.5,5.6E-05,2621.0,2016-12-27,1.0,9.0,00:05:00,00:04:00,1.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-28,0.0,0.0,00:00:00,00:00:00,0.0
0,4520,1900-01-01 07:14:00,1970-01-01 00:00:00,1900-01-01 07:54:00,LEA,3,5,////,0.15,0,0.0,2016-12-29,1.0,40.0,00:00:00,00:00:00,0.0
1,4540,1900-01-01 09:45:00,1970-01-01 00:00:00,1900-01-01 22:19:00,LEA,2,6,N23E29,5,0,0.0,2016-12-29,1.0,754.0,00:00:00,00:00:00,0.0
2,4530,1900-01-01 20:11:00,1900-01-01 20:15:00,1900-01-01 20:20:00,G15,5,1,1-8A,B1.3,4.9e-05,2619.0,2016-12-29,1.0,9.0,00:04:00,00:05:00,0.0
0,4550,1900-01-01 01:30:00,1900-01-01 01:33:00,1900-01-01 01:36:00,G15,5,1,1-8A,B1.0,2.2e-05,2619.0,2016-12-30,1.0,6.0,00:03:00,00:03:00,0.0
1,4560,1900-01-01 12:22:00,1900-01-01 12:29:00,1900-01-01 12:39:00,G15,5,1,1-8A,B2.2,0.00017,2621.0,2016-12-30,1.0,17.0,00:07:00,00:10:00,0.0

In [62]:
df.del_begin_max = df.del_begin_max.apply(lambda x: x.seconds/60)

In [63]:
df.del_end_max = df.del_end_max.apply(lambda x: x.seconds/60)

In [65]:
# fill in with 1 because there is was events for all null values
df.yes_no = df.yes_no.fillna(1)

In [67]:
df.yes_no.unique()

array([ 1.,  0.])

In [68]:
df['duration'].fillna(0, inplace=True)

In [69]:
df['del_begin_max'].fillna(0, inplace=True)

In [70]:
df['del_end_max'].fillna(0, inplace=True)

In [71]:
# Changing columns from datetime to integers
df.del_begin_max = df.del_begin_max.apply(lambda x: int(x))
df.duration = df.duration.apply(lambda x: int(x))

In [72]:
pd.isnull(df.duration).any()

False

In [76]:
df.fillna(0)

,event,begin,max,end,obs,q,type,loc,freq,particulars,reg_num,date,yes_no,duration,del_begin_max,del_end_max,closer_begin_end
0,2310,1900-01-01 00:07:00,1900-01-01 00:13:00,1900-01-01 00:20:00,GO8,5,1,1-8A,C1.2,8.1E-04,0.0,2001-01-01,1.0,13,6,7.0,0.0
1,2470,1900-01-01 00:46:00,1970-01-01 00:00:00,1900-01-01 00:46:00,CUL,C,2,40-100,III/1,0,0.0,2001-01-01,1.0,0,0,0.0,0.0
2,2320,1900-01-01 01:18:00,1900-01-01 01:21:00,1900-01-01 01:27:00,GO8,5,1,1-8A,C1.0,4.5E-04,0.0,2001-01-01,1.0,9,3,6.0,0.0
3,2350,1900-01-01 03:22:00,1900-01-01 03:34:00,1900-01-01 06:00:00,LEA,G,3,245,68,0,0.0,2001-01-01,1.0,158,12,146.0,0.0
4,2330,1900-01-01 03:39:00,1900-01-01 03:39:00,1900-01-01 03:39:00,PAL,G,16,245,52,0,0.0,2001-01-01,1.0,0,0,0.0,0.0
5,2340,1900-01-01 03:47:00,1900-01-01 03:49:00,1900-01-01 03:52:00,LEA,3,4,N25E45,SF,ERU,9292.0,2001-01-01,1.0,5,2,3.0,0.0
6,2480,1900-01-01 04:52:00,1970-01-01 00:00:00,1900-01-01 04:53:00,CUL,C,2,23-180,III/1,0,0.0,2001-01-01,1.0,1,0,0.0,0.0
7,2360,1900-01-01 07:31:00,1900-01-01 07:35:00,1900-01-01 07:39:00,GO8,5,1,1-8A,C1.2,4.3E-04,9289.0,2001-01-01,1.0,8,4,4.0,0.0
8,2360,1900-01-01 07:35:00,1900-01-01 07:35:00,1900-01-01 07:38:00,LEA,3,4,S09E13,SF,9289,0.0,2001-01-01,1.0,3,0,3.0,0.0
9,2370,1900-01-01 09:33:00,1900-01-01 09:51:00,1900-01-01 10:09:00,GO8,5,1,1-8A,C1.0,2.1E-03,9283.0,2001-01-01,1.0,36,18,18.0,0.0
10,2370,1900-01-01 09:46:00,1900-01-01 09:54:00,1900-01-01 10:15:00,LEA,2,4,S11W46,SF,9283,0.0,2001-01-01,1.0,29,8,21.0,0.0
11,2380,1900-01-01 12:52:00,1900-01-01 12:57:00,1900-01-01 13:01:00,GO8,5,1,1-8A,C1.0,4.9E-04,0.0,2001-01-01,1.0,9,5,4.0,1.0
12,2740,1900-01-01 16:12:00,1900-01-01 16:12:00,1900-01-01 16:13:00,SAG,G,16,245,75,0,0.0,2001-01-01,1.0,1,0,1.0,0.0
13,2400,1900-01-01 16:28:00,1900-01-01 16:45:00,1900-01-01 16:52:00,GO8,5,1,1-8A,C1.4,1.5E-03,9283.0,2001-01-01,1.0,24,17,7.0,1.0
14,2400,1900-01-01 16:41:00,1900-01-01 16:43:00,1900-01-01 16:59:00,RAM,3,4,S12W52,SF,ERU,9283.0,2001-01-01,1.0,18,2,16.0,0.0
15,2410,1900-01-01 16:53:00,1900-01-01 17:02:00,1900-01-01 17:07:00,GO8,5,1,1-8A,C1.7,1.3E-03,0.0,2001-01-01,1.0,14,9,5.0,1.0
16,2420,1900-01-01 19:36:00,1970-01-01 00:00:00,1900-01-01 19:36:00,HOL,C,2,025-085,III/1,0,0.0,2001-01-01,1.0,0,0,0.0,0.0
17,2430,1900-01-01 19:46:00,1970-01-01 00:00:00,1900-01-01 19:51:00,HOL,C,2,025-083,III/1,0,0.0,2001-01-01,1.0,5,0,0.0,0.0
18,2750,1900-01-01 19:54:00,1900-01-01 19:54:00,1900-01-01 19:55:00,SAG,G,16,245,120,0,0.0,2001-01-01,1.0,1,0,1.0,0.0
19,2440,1900-01-01 19:57:00,1970-01-01 00:00:00,1900-01-01 19:57:00,HOL,C,2,025-085,III/1,0,0.0,2001-01-01,1.0,0,0,0.0,0.0
20,2760,1900-01-01 20:03:00,1900-01-01 20:04:00,1900-01-01 20:05:00,SAG,G,16,245,64,0,0.0,2001-01-01,1.0,2,1,1.0,0.0
21,2490,1900-01-01 20:20:00,1970-01-01 00:00:00,1900-01-01 20:31:00,CUL,C,2,18-180,III/2,0,0.0,2001-01-01,1.0,11,0,0.0,0.0
22,2500,1900-01-01 20:41:00,1970-01-01 00:00:00,1900-01-01 20:41:00,CUL,C,2,20-90,III/1,0,0.0,2001-01-01,1.0,0,0,0.0,0.0
23,2510,1900-01-01 21:00:00,1970-01-01 00:00:00,1900-01-01 21:03:00,CUL,C,2,20-180,III/1,0,0.0,2001-01-01,1.0,3,0,0.0,0.0
24,2520,1900-01-01 21:28:00,1970-01-01 00:00:00,1900-01-01 21:28:00,CUL,C,2,23-100,III/1,0,0.0,2001-01-01,1.0,0,0,0.0,0.0
25,2450,1900-01-01 22:13:00,1970-01-01 00:00:00,1900-01-01 22:14:00,CUL,C,2,20-160,III/1,0,0.0,2001-01-01,1.0,1,0,0.0,0.0
26,2460,1900-01-01 22:25:00,1970-01-01 00:00:00,1900-01-01 22:31:00,CUL,C,2,18-180,III/2,0,0.0,2001-01-01,1.0,6,0,0.0,0.0
27,2530,1900-01-01 23:28:00,1970-01-01 00:00:00,1900-01-01 23:28:00,CUL,C,2,50-160,III/1,0,0.0,2001-01-01,1.0,0,0,0.0,0.0
28,2540,1900-01-01 23:40:00,1970-01-01 00:00:00,1900-01-01 23:40:00,CUL,C,2,35-90,III/1,0,0.0,2001-01-01,1.0,0,0,0.0,0.0
0,2600,1900-01-01 00:22:00,1970-01-01 00:00:00,1900-01-01 00:22:00,CUL,C,2,20-120,III/2,0,0.0,2001-01-02,1.0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,4380,1900-01-01 09:38:00,1900-01-01 09:43:00,1900-01-01 09:53:00,G15,5,1,1-8A,B2.1,0.00014,2617.0,2016-12-16,1.0,15,5,10.0,0.0
0,4400,1900-01-01 10:28:00,1970-01-01 00:00:00,1900-01-01 22:58:00,LEA,3,6,N31W58,8,0,0.0,2016-12-17,1.0,750,0,0.0,0.0
1,4390,1900-01-01 15:55:00,1970-01-01 00:00:00,1900-01-01 15:59:00,SAG,C,2,025-072,III/1,0,0.0,2016-12-17,1.0,4,0,0.0,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-18,0.0,0,0,0.0,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-19,0.0,0,0,0.0,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-20,0.0,0,0,0.0,0.0
0,4410,1900-01-01 14:12:00,1900-01-01 14:19:00,1900-01-01 14:26:00,G15,5,1,1-8A,B2.7,0.00015,2620.0,2016-12-21,1.0,14,7,7.0,0.0
1,4420,1900-01-01 17:47:00,1970-01-01 00:00:00,1900-01-01 17:49:00,SAG,C,2,075-180,III/1,0,0.0,2016-12-21,1.0,2,0,0.0,0.0
2,4420,1900-01-01 17:48:00,1900-01-01 17:48:00,1900-01-01 17:48:00,SAG,G,16,245,130,0,0.0,2016-12-21,1.0,0,0,0.0,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-22,0.0,0,0,0.0,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-23,0.0,0,0,0.0,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-24,0.0,0,0,0.0,0.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-25,0.0,0,0,0.0,0.0
0,4470,1900-01-01 10:17:00,1970-01-01 00:00:00,1900-01-01 22:03:00,LEA,3,6,S10W03,14,0,0.0,2016-12-26,1.0,706,0,0.0,0.0
1,4430,1900-01-01 18:47:00,1900-01-01 18:52:00,1900-01-01 18:58:00,G15,5,1,1-8A,B3.0,0.00014,2621.0,2016-12-26,1.0,11,5,6.0,0.0
2,4440,1900-01-01 20:56:00,1900-01-01 21:01:00,1900-01-01 21:05:00,G15,5,1,1-8A,B8.3,0.00023,2621.0,2016-12-26,1.0,9,5,4.0,1.0
3,4450,1900-01-01 21:58:00,1900-01-01 22:02:00,1900-01-01 22:27:00,G15,5,1,1-8A,B2.9,0.0004,2621.0,2016-12-26,1.0,29,4,25.0,0.0
4,4460,1900-01-01 23:25:00,1900-01-01 23:29:00,1900-01-01 23:32:00,G15,5,1,1-8A,B3.3,8.4e-05,2621.0,2016-12-26,1.0,7,4,3.0,1.0
0,4480,1900-01-01 05:52:00,1970-01-01 00:00:00,1900-01-01 05:52:00,LEA,C,2,025-115,III/1,0,0.0,2016-12-27,1.0,0,0,0.0,0.0
1,4490,1900-01-01 08:20:00,1900-01-01 08:46:00,1900-01-01 08:58:00,G15,5,1,1-8A,B3.1,5.3E-04,2621.0,2016-12-27,1.0,38,26,12.0,1.0
2,4490,1900-01-01 08:23:00,1900-01-01 08:39:00,1900-01-01 08:40:00,SVI,3,4,N09W50,SF,ERU,2621.0,2016-12-27,1.0,17,16,1.0,1.0
3,4500,1900-01-01 10:04:00,1900-01-01 10:12:00,1900-01-01 10:18:00,G15,5,1,1-8A,B1.6,1.0E-04,2621.0,2016-12-27,1.0,14,8,6.0,1.0
4,4500,1900-01-01 10:09:00,1900-01-01 10:10:00,1900-01-01 10:14:00,SVI,3,4,N09W52,SF,ERU,2621.0,2016-12-27,1.0,5,1,4.0,0.0
5,4510,1900-01-01 12:33:00,1900-01-01 12:38:00,1900-01-01 12:42:00,G15,5,1,1-8A,B1.5,5.6E-05,2621.0,2016-12-27,1.0,9,5,4.0,1.0
0,NO,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,0,0,10,0,0,0,0.0,2016-12-28,0.0,0,0,0.0,0.0
0,4520,1900-01-01 07:14:00,1970-01-01 00:00:00,1900-01-01 07:54:00,LEA,3,5,////,0.15,0,0.0,2016-12-29,1.0,40,0,0.0,0.0
1,4540,1900-01-01 09:45:00,1970-01-01 00:00:00,1900-01-01 22:19:00,LEA,2,6,N23E29,5,0,0.0,2016-12-29,1.0,754,0,0.0,0.0
2,4530,1900-01-01 20:11:00,1900-01-01 20:15:00,1900-01-01 20:20:00,G15,5,1,1-8A,B1.3,4.9e-05,2619.0,2016-12-29,1.0,9,4,5.0,0.0
0,4550,1900-01-01 01:30:00,1900-01-01 01:33:00,1900-01-01 01:36:00,G15,5,1,1-8A,B1.0,2.2e-05,2619.0,2016-12-30,1.0,6,3,3.0,0.0
1,4560,1900-01-01 12:22:00,1900-01-01 12:29:00,1900-01-01 12:39:00,G15,5,1,1-8A,B2.2,0.00017,2621.0,2016-12-30,1.0,17,7,10.0,0.0

In [77]:
df.closer_begin_end.unique()

array([  0.,   1.,  nan])

In [78]:
# Finding errors 
for x in df.duration:
    if x == 'NaN':
        print(x)

In [79]:
df.duration = df.duration.apply(lambda x: int(x))

In [80]:
df.isnull().any()

event                True
begin                True
max                  True
end                  True
obs                  True
q                    True
type                False
loc                  True
freq                 True
particulars          True
reg_num              True
date                 True
yes_no              False
duration            False
del_begin_max       False
del_end_max         False
closer_begin_end     True
dtype: bool

In [81]:
# A lot of missing information in these rows so I decided to remove them
df = df[~df.date.isnull()]

In [82]:
df.isnull().any()

event               False
begin                True
max                  True
end                  True
obs                  True
q                    True
type                False
loc                  True
freq                 True
particulars          True
reg_num              True
date                False
yes_no              False
duration            False
del_begin_max       False
del_end_max         False
closer_begin_end    False
dtype: bool

In [83]:
# Replacing datetime to just time
df.begin = df.begin.apply(lambda x: x.time() if type(x) == pd._libs.tslib.Timestamp else x)

In [84]:
df.head(1)

,event,begin,max,end,obs,q,type,loc,freq,particulars,reg_num,date,yes_no,duration,del_begin_max,del_end_max,closer_begin_end
0,2310,00:07:00,1900-01-01 00:13:00,1900-01-01 00:20:00,GO8,5,1,1-8A,C1.2,8.1E-04,NaN,2001-01-01,1.0,13,6,7.0,0.0

In [86]:
df['begin'] = df['begin'].apply(lambda x: pd.to_timedelta(x) if x == pd._libs.tslib.Timestamp else x)

In [87]:
# Creating flare event column 
df['flare_event'] = df['type'].apply(lambda x: 1 if x == 4 else 0)

In [88]:
df.head(1)

,event,begin,max,end,obs,q,type,loc,freq,particulars,reg_num,date,yes_no,duration,del_begin_max,del_end_max,closer_begin_end,flare_event
0,2310,00:07:00,1900-01-01 00:13:00,1900-01-01 00:20:00,GO8,5,1,1-8A,C1.2,8.1E-04,NaN,2001-01-01,1.0,13,6,7.0,0.0,0

In [90]:
df.t_since_last_event.unique()

array([0], dtype='timedelta64[ns]')

In [91]:
flare = df[df.flare_event == 1]

In [92]:
grouped_sum = flare.groupby(['date']).sum()
grouped_sum.head()

,type,reg_num,yes_no,duration,del_begin_max,del_end_max,closer_begin_end,flare_event
date,,,,,,,,
2001-01-01,16,18575.0,4.0,55,12,43.0,0.0,4
2001-01-03,12,27873.0,3.0,30,5,25.0,0.0,3
2001-01-04,12,9289.0,3.0,15,1,14.0,0.0,3
2001-01-05,16,27906.0,4.0,77,21,56.0,1.0,4
2001-01-06,12,NaN,3.0,76,24,52.0,0.0,3

In [93]:
count = 0
bad = 0
for x in df.end:
    if type(x) == pd._libs.tslib.Timestamp:
        count += 1
    else:
        bad += 1

In [94]:
count, bad

(123566, 987)

In [95]:
# Replacing null values for begin column 
df['begin'] = df['begin'].apply(lambda x: datetime.strptime('0000', time).time() if type(x) == pd._libs.tslib.NaTType else x)

In [96]:
# Creating complete datetime column 
df['datetime'] = df.apply(lambda x: datetime.combine(x['date'], x['begin']), axis=1)

In [97]:
# Creating columns to show time since last event (would have been better to do this with hours and minutes)
mask = df['flare_event'].notnull()
df['last_event_time'] = np.NaN
df.loc[mask, 'last_event_time'] = df.loc[mask, 'datetime']
df['last_event_time'] = df['last_event_time'].fillna(method='ffill')
df['t_since_last_event'] = df['datetime'] - df['last_event_time']

In [98]:
df.head()

,event,begin,max,end,obs,q,type,loc,freq,particulars,...,date,yes_no,duration,del_begin_max,del_end_max,closer_begin_end,flare_event,last_event_time,t_since_last_event,datetime
0,2310,00:07:00,1900-01-01 00:13:00,1900-01-01 00:20:00,GO8,5,1,1-8A,C1.2,8.1E-04,...,2001-01-01,1.0,13,6,7.0,0.0,0,2001-01-01 00:07:00,0 days,2001-01-01 00:07:00
1,2470,00:46:00,NaT,1900-01-01 00:46:00,CUL,C,2,40-100,III/1,NaN,...,2001-01-01,1.0,0,0,0.0,0.0,0,2001-01-01 00:46:00,0 days,2001-01-01 00:46:00
2,2320,01:18:00,1900-01-01 01:21:00,1900-01-01 01:27:00,GO8,5,1,1-8A,C1.0,4.5E-04,...,2001-01-01,1.0,9,3,6.0,0.0,0,2001-01-01 01:18:00,0 days,2001-01-01 01:18:00
3,2350,03:22:00,1900-01-01 03:34:00,1900-01-01 06:00:00,LEA,G,3,245,68,NaN,...,2001-01-01,1.0,158,12,146.0,0.0,0,2001-01-01 03:22:00,0 days,2001-01-01 03:22:00
4,2330,03:39:00,1900-01-01 03:39:00,1900-01-01 03:39:00,PAL,G,16,245,52,NaN,...,2001-01-01,1.0,0,0,0.0,0.0,0,2001-01-01 03:39:00,0 days,2001-01-01 03:39:00

In [99]:
# Changing to timestamp
df['datetime'] = df.datetime.apply(lambda x: (x).timestamp())

In [100]:
df.head()

,event,begin,max,end,obs,q,type,loc,freq,particulars,...,date,yes_no,duration,del_begin_max,del_end_max,closer_begin_end,flare_event,last_event_time,t_since_last_event,datetime
0,2310,00:07:00,1900-01-01 00:13:00,1900-01-01 00:20:00,GO8,5,1,1-8A,C1.2,8.1E-04,...,2001-01-01,1.0,13,6,7.0,0.0,0,2001-01-01 00:07:00,0 days,978336420.0
1,2470,00:46:00,NaT,1900-01-01 00:46:00,CUL,C,2,40-100,III/1,NaN,...,2001-01-01,1.0,0,0,0.0,0.0,0,2001-01-01 00:46:00,0 days,978338760.0
2,2320,01:18:00,1900-01-01 01:21:00,1900-01-01 01:27:00,GO8,5,1,1-8A,C1.0,4.5E-04,...,2001-01-01,1.0,9,3,6.0,0.0,0,2001-01-01 01:18:00,0 days,978340680.0
3,2350,03:22:00,1900-01-01 03:34:00,1900-01-01 06:00:00,LEA,G,3,245,68,NaN,...,2001-01-01,1.0,158,12,146.0,0.0,0,2001-01-01 03:22:00,0 days,978348120.0
4,2330,03:39:00,1900-01-01 03:39:00,1900-01-01 03:39:00,PAL,G,16,245,52,NaN,...,2001-01-01,1.0,0,0,0.0,0.0,0,2001-01-01 03:39:00,0 days,978349140.0

In [101]:
# Converting pandas dataframe to csv and saving it. 
df.to_csv('wishful_thinking.csv')